<div class="section-block">
    <div class="row">
        <div class="column width-4">
            <h4 class="mb-20"><span class="color-grey-light">
                    <mat-icon>more_horizontal</mat-icon>
                </span>
                Looking for more?</h4>
        </div>
        <div class="column width-8">
            <p>Head over to my Github where you can see many of the projects I have worked on. All of my personal,
                academic, and some professional projects are available for you to see.</p>
            <a href="https://github.com/robertschaedler3"
                class="button medium bkg-theme bkg-hover-theme color-white color-hover-white">
                Check me out on Github
            </a>
        </div>
    </div>
</div>