<div class="content" fxLayout="row" fxLayoutAlign="center center">
    <div class="terminal" fxFlex="50">
        <div class="toolbar" fxLayout="row" fxLayoutAlign="end center">
            <div class="icons" fxLayout="row" fxLayoutAlign="space-between center">
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
            </div>
        </div>
        <div class="shell">
            <div *ngFor="let command of commands; let last = last" class="line">
                <p class="command"><i class="fas fa-greater-than fa-fw">
                    </i> {{command}}<i [ngClass]="{'cursor': last}"></i>
                </p>
            </div>
        </div>
    </div>
</div>
