<div class="section" [appScrollAnchor] [offset]="-40">
    <div class="section-header">
        <h6>00.</h6>
        <h3>About Me</h3>
        <div class="line" fxFlex="30" fxHide.xs></div>
    </div>
    <div class="section-inner" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center">
        <div class="text">
            <p>Hi there! I'm Robert, a {{job}} based out of {{location}}.</p>
            <p>
                I enjoy building things that involve the cloud. I have experience with network security and IoT through many
                different personal, academic, and professional projects. I also have a taste for pixel-perfect, performant design.
            </p>
            <p>
                After graduating from
                <a href="https://www.stevens.edu/">Stevens Institute of Technology</a>
                in the spring, I will be joining the
                <a href="https://azure.microsoft.com/en-us/resources/videos/intelligent-edge-overview-video/">
                    {{team}}
                </a>
                team at {{company}} as a {{job}}.
            </p>
        </div>
        <div class="image" fxFlex="30" fxFlex.lt-sm="100">
            <img class="portrait tile" src="assets/img/bkg-1.jpg">
            <a class="tile icon-overlay" href="{{instagram}}" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</div>

<div class="section" [appScrollAnchor]="'experience'" [offset]="-40">
    <div class="section-header">
        <h6>01.</h6>
        <h3>Experience</h3>
        <div class="line" fxFlex="30" fxHide.xs></div>
    </div>
    <div class="section-inner">
        <app-experience></app-experience>
    </div>
</div>

<div class="section" [appScrollAnchor]="'projects'" [offset]="-40">
    <div class="section-header">
        <h6>10.</h6>
        <h3>Projects</h3>
        <div class="line" fxFlex="30" fxHide.xs></div>
    </div>

    <div class="section-inner">
        <app-projects></app-projects>
    </div>
</div>

<div class="section" [appScrollAnchor]="'contact'" [offset]="-40">
    <div class="section-header">
        <h6>11.</h6>
        <h3>Contact</h3>
        <div class="line" fxFlex="30" fxHide.xs></div>
    </div>
    <div class="section-inner">
        <div 
            class="contact" 
            fxLayout="column" 
            fxLayoutAlign="center center" 
            fxFlex="60" 
            fxFlex.md="90" 
            fxFlexOffset.md="10" 
            fxFlex.lt-md="100" 
            fxFlexOffset.gt-md="20">
            <h3>Say Hello</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
            </p>
            <div class="social-links" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="link">
                    <a [href]="''">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <div class="link">
                    <a [href]="''">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="link">
                    <a [href]="''">
                        <i class="fab fa-medium-m"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
