<div class="wrapper">
    <div class="content">
        <div class="header">
            <h1><i class="fas fa-archive fa-fw"></i> Archive</h1>
            <p>A list of all the things I've worked on</p>
        </div>
        <div class="table-container" fxLayout="row" fxLayoutAlign="center center">
            <table class="table" fxFlex="100">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Title</th>
                        <th>Tech & Tools</th>
                        <th>Links</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mono">2020</td>
                        <td class="mono">Trendease Trading</td>
                        <td class="mono">Typescript Angular Python</td>
                        <td class="mono">link</td>
                    </tr>
                    <tr>
                        <td class="mono">2020</td>
                        <td class="mono">Trendease Trading</td>
                        <td class="mono">Typescript Angular Python</td>
                        <td class="mono">link</td>
                    </tr>
                    <tr>
                        <td class="mono">2020</td>
                        <td class="mono">Trendease Trading</td>
                        <td class="mono">Typescript Angular Python</td>
                        <td class="mono">link</td>
                    </tr>
                    <tr>
                        <td class="mono">2020</td>
                        <td class="mono">Trendease Trading</td>
                        <td class="mono">Typescript Angular Python</td>
                        <td class="mono">link</td>
                    </tr>
                    <tr>
                        <td class="mono">2020</td>
                        <td class="mono">Trendease Trading</td>
                        <td class="mono">Typescript Angular Python</td>
                        <td class="mono">link</td>
                    </tr>
                    <tr>
                        <td class="mono">2020</td>
                        <td class="mono">Trendease Trading</td>
                        <td class="mono">Typescript Angular Python</td>
                        <td class="mono">link</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-footer></app-footer>
    </div>
</div>


<div class="gutter left" fxLayout="column" fxLayoutAlign="space-between center">
    <div>
        <a class="link" [href]="''">
            <i class="fab fa-github"></i>
        </a>
    </div>
    <div>
        <a class="link" [href]="''">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <div>
        <a class="link" [href]="''">
            <i class="fab fa-medium-m"></i>
        </a>
    </div>
    <div>
        <a class="link" [href]="''">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <div class="line"></div>
</div>

<div class="gutter right" fxLayout="column" fxLayoutAlign="space-between center">
    <a class="link" href="https://github.com/robertschaedler3">@robertschaedler3</a>
    <div class="line"></div>
</div>

