$background-color: #07131f;
$brand-primary: #4aa0f7;
$brand-accent: #3eb2ff;

$white: #eee;
$black: #222;
$hover-color: #3eb2ff;

$white-color: #eeeeee !default;
$dark-gray-color:  #132536 !default;
$light-gray-color:  #b1bcc7 !default;
$black-color: #3C4858 !default;

$line-color: #3a6a97;
$button-color: #2896e9;
