
$brand-primary: #4aa0f7;
$brand-accent: #ab7fff;

$white: #eee;
$black: #222;
$hover-color: #086cb8;

$white-color: #eeeeee !default;
$dark-gray-color:  #132536 !default;
$light-gray-color:  #b1bcc7 !default;
$black-color: #3C4858 !default;

