
// $brand-primary-contrast: #0078f0;
// $brand-accent-contrast: #ab7fff;

$white: #eee;
$black: #111;
$link-color: #2896e9;

$white-color: #eeeeee !default;
$gray-color:  #999999 !default;
$black-color: #3C4858 !default;

