// Widths
$sidebar-width: 60px !default;
$main-panel-width: calc(100% - 60px) !default;

// Border-radius
$border-radius-base: 3px !default;
$border-radius-small: 2px !default;
$border-radius-large: 6px !default;
$border-radius-huge: 10px !default;
$border-radius-label: 12px !default;
$border-radius-extreme: 30px !default;

// Margins
$margin-base: 1rem !default;
$margin-small: 0.75rem !default;
$margin-large: 2rem !default;
$margin-huge: 4rem !default;
