$palette-primary: (
    50 : #e5e5e6,
    100 : #bebfc0,
    200 : #939596,
    300 : #686a6c,
    400 : #474a4d,
    500 : #272a2d,
    600 : #232528,
    700 : #1d1f22,
    800 : #17191c,
    900 : #0e0f11,
    A100 : #56acff,
    A200 : #2393ff,
    A400 : #0078f0,
    A700 : #006bd6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$palette-accent: (
    50 : #f4f3f5,
    100 : #e3e1e6,
    200 : #d0cdd6,
    300 : #bdb8c5,
    400 : #afa9b8,
    500 : #a19aac,
    600 : #9992a5,
    700 : #8f889b,
    800 : #857e92,
    900 : #746c82,
    A100 : #fefeff,
    A200 : #decdfd,
    A400 : #bc98ff,
    A700 : #ab7fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
