$font-family-headline: 'IBM Plex Sans', sans-serif !default;
$font-family-body: 'IBM Plex Sans', sans-serif !default;
$font-family-monospace: 'Inconsolata', monospace !default;

$base-font-size: 0.875rem;

// Font size
$font-size-h1: 3.3125rem;
$font-size-h2: 2.25rem !default;
$font-size-h3: 1.5625rem;
$font-size-h4: 1.35rem !default;
$font-size-h5: 1.125rem !default;
$font-size-h6: 1.125rem !default;
$font-size-paragraph: 16px !default;

// Font weight
$font-weight-light: 300 !default;
$font-weight-default: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-extra-bold: 700 !default;
$font-weight-ultra-bold: 900 !default;
