<div class="tile">
    <div class="tile-content">
        <div class="tile-header" fxLayout="row" fxLayoutAlign="space-between center">
            <i class="far fa-folder folder"></i>
            <div class="links">
                <a [href]="project.html_url"><i class="fab fa-github fa-fw"></i></a>
                <a *ngIf="project.homepage" [href]="project.homepage"><i class="fas fa-link fa-fw"></i></a>
            </div>
        </div>
        <div class="content" fxLayout="column" fxLayoutAlign="space-between start">
            <div class="project-title">
                <h4>{{project.name}}</h4>
            </div>
            <div class="project-description">
                <p>{{project.description}}</p>
            </div>
            <div class="topics" fxLayout="row wrap" fxLayoutAlign="start center">
                <p class="topic" *ngFor="let topic of project.topics | slice:0:3">
                    {{topic}}
                </p>
            </div>
        </div>
    </div>
</div>