<div class="tile">
    <div class="tile-header" fxLayout="row" fxLayoutAlign="space-between center">
        <i class="far fa-folder folder"></i>
        <div class="links">
            <a href="http://github.com"><i class="fab fa-github fa-fw"></i></a>
            <a href="http://robertschaedler.com"><i class="fas fa-link fa-fw"></i></a>
        </div>
    </div>
    <div class="content">
        <div class="project-title">
            <h4>Project Title</h4>
        </div>
        <div class="project-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
        </div>
        <div class="tags" fxLayout="row" fxLayoutAlign="start center">
            <p class="tag">Typescript</p>
            <p class="tag">Node.js</p>
            <p class="tag">Angular</p>
        </div>
    </div>
</div>