.tile {
  position: relative;
  min-height: 20rem;
}

.folder {
  color: #3eb2ff;
  font-size: 2.5rem;
}

.links {
  a {
    color: #e7e6e6;
    font-size: 1.25rem;
    margin-left: 0.5rem;

    &:hover {
      color: #3eb2ff;
    }
  }
}

.content {
  height: 100%;

  .project-description {
    margin-bottom: 3rem;
  }

  .topics {
    position: absolute;
    bottom: 2.5rem;

    .topic {
      font-size: 12px;
      font-weight: 400;
      margin: 0 1rem 0 0;
    }
  }
}
