<div class="row">
    <div class="column width-4">
        <div *ngIf="git.contributions$ | async as contributions else loadingC">
            <div class="statmb-mobile-20 no-margin-bottom">
                <div class="stat-inner">
                    <p class="counter no-margin-bottom title-medium weight-bold color-white">
                        <span class="stat-counter">{{contributions[0][0].total + contributions[0][1].total}}</span>
                    </p>
                    <p class="description mb-20 color-grey-light weight-light text-uppercase">Git Contributions</p>
                </div>
            </div>
        </div>
        <ng-template #loadingC>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-template>
    </div>
    <div class="column width-4">
        <div *ngIf="git.events$ | async as events else loadingE">
            <div class="statmb-mobile-20 no-margin-bottom">
                <div class="stat-inner">
                    <p class="counter no-margin-bottom title-medium weight-bold color-white">
                        <span class="stat-counter">{{events[0].created_at | date:'M/d/yy h:mm'}}</span>
                    </p>
                    <p class="description mb-20"> 
                        <span class="color-grey-light weight-light text-uppercase">Last contribution:</span> <br><a style="color:#2280e4" href="https://github.com/{{events[0].repo.name}}">{{events[0].repo.name.split('/')[1]}}</a></p>
                </div>
            </div>
        </div>
        <ng-template #loadingE>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-template>
    </div>
    <div class="column width-4">
        <div *ngIf="git.repos$ | async as repos else loadingR">
            <div class="statmb-mobile-20 no-margin-bottom">
                <div class="stat-inner">
                    <p class="counter no-margin-bottom title-medium weight-bold">
                        <span class="stat-counter color-white">{{repos.length}}</span>
                    </p>
                    <p class="description mb-20 color-grey-light weight-light text-uppercase"> Total Repos</p>
                </div>
            </div>
        </div>
        <ng-template #loadingR>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-template>
    </div>
</div>

