.special-button {
  @include transition($general-transition-time, $transition-bezier);

  background-color: $black;
  margin: 0;
  padding: 0;
  cursor: pointer;

  span {
    padding: 0.5rem 1rem;
    color: $white;
    display: block;
    font-weight: 200;
    transition: color 0.3s ease;
    position: relative;
    z-index: 1;
    border: 2px solid $white;
  }

  &:before,
  &:after {
    @include transition($general-transition-time, $transition-bezier);

    content: '';
    background: $brand-primary;
    height: 50%;
    width: 0;
    position: absolute;
  }

  &:before {
    top: 0;
    left: 0;
    right: auto;
  }

  &:after {
    bottom: 0;
    right: 0;
    left: auto;
  }

  &:hover {
    &:before {
      width: 100%;
      right: 0;
      left: auto;
    }

    &:after {
      width: 100%;
      left: 0;
      right: auto;
    }

    span {
      color: $black;
      border-color: $brand-primary;
    }
  }
}
