.special-button {
  cursor: pointer;
  background-color: $black;
  margin: 0;
  padding: 0;

  span {
    padding: 0.5rem 1rem;
    color: $white;
    display: block;
    font-weight: 200;
    transition: color 0.3s ease;
    position: relative;
    z-index: 1;
  }

  &:before,
  &:after {
    content: '';
    background: $white;
    height: 50%;
    width: 0;
    position: absolute;
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  &:before {
    top: 0;
    left: 0;
    right: auto;
  }

  &:after {
    bottom: 0;
    right: 0;
    left: auto;
  }

  &:hover {
      
    &:before {
      width: 100%;
      right: 0;
      left: auto;
    }

    &:after {
      width: 100%;
      left: 0;
      right: auto;
    }

    span {
      color: $black;
    }
  }
}
