mat-toolbar {
    background-color: $dark-theme !important;
    border-bottom: 0.5px solid $white;
    height: $header-height !important;
    font-size: 11px !important;

    .logo {
        height: $header-height;
        line-height: $header-height;

        .logo-inner {
            height: 100%;

            a {
                text-decoration: none;

                > img {
                    width: 8rem;
                }
            }
        }
    }
}
