.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.main-panel {
  position: relative;
  float: right;

  .main-content {
    padding: 0 $gutter-size 1.875rem $gutter-size;
    min-height: calc(100vh - 123px);
  }
}