// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

a {
  text-decoration: none;
  color: $white;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.spacer {
  flex: 1 1 auto;
}

.ps__rail-x,
.ps__rail-y {
  background: transparent !important;
}
