html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-light;
  line-height: 1.5em;
}

h1 {
  font-size: $font-size-h1;
  line-height: 1.15em;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
  line-height: 1.4em;
}

h4 {
  font-size: $font-size-h4;
  line-height: 1.4em;
  font-weight: 300;
}

h5 {
  font-size: $font-size-h5;
  line-height: 1.4em;
}

h6 {
  font-size: $font-size-h6;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

p, a, button {
  font-family: $font-family-serif;
  font-size: $font-size-paragraph;
}
