$underline-dark-color: #686868;
$underline-light-color: #eee;

@mixin transition() {
  -webkit-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.content {
  height: 100%;
  margin: 1.25rem;
  padding-bottom: 2rem;

  .special a {
    font-size: 3rem;
    font-weight: 800;
  }

  .info {
    margin: 2rem 0;

    .icon {
      width: 1.25rem;
    }

    p {
      margin: 0;
      padding: 0.2rem 0;
      color: #ffffffbf;
      font-weight: 500;
    }
  }

  .nav-item {
    margin-bottom: 0.25rem;

    .nav-link {
      position: relative;
      margin: 0;
      font-size: 1rem;
      line-height: 2.25rem;

      &:hover .border-slider {
        width: 100%;
        background-color: $underline-dark-color;
      }

      &.active .border-slider {
        width: 100%;
        background-color: $underline-light-color;
      }

      .border-slider {
        @include transition();

        position: absolute;
        display: block;
        left: 0;
        top: 90%;
        margin: 0 auto;
        height: 1px;
        background-color: $underline-dark-color;
        width: 0%;
      }
    }
  }

  .social-links {
    margin: 2rem 0;

    .link {
      margin-right: 0.85rem;
    }
  }
}

.special {
  margin: 0;
  font-size: 3rem;

  a {
    @include transition();

    line-height: 5rem;
    text-decoration: underline;
    text-decoration-color: $underline-dark-color;
    text-decoration-thickness: 1px;
    text-underline-offset: 1rem;

    &:hover {
      text-decoration-color: $underline-light-color;
    }
  }
}
