$underline-color: #686868;
$underline-hover-color: #eee;

@mixin ease() {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  transition: all 300ms ease;
}

.content {
  height: 100%;
  margin: 1.25rem;
  padding-bottom: 2rem;

  .subheader {
    color: #ffffffbf;
    font-weight: 500;
    margin: 2rem 0;
  }

  .nav-item {
    margin-bottom: 0.25rem;

    .nav-link {
      position: relative;
      margin: 0;
      font-size: 1rem;
      line-height: 2.25rem;
      
      &:hover {
        border-color: $underline-hover-color;

        .border-slider {
          width: 100%;
          background-color: $underline-hover-color;
        }
      }
      
      .border-slider {
        @include ease();

        position: absolute;
        display: block;
        left: 0;
        top: 90%;
        margin: 0 auto;
        height: 1px;
        background-color: $underline-color;
        width: 0%;
      }
    }
  }

  .social-links {
    margin: 2rem 0;

    .link {
      margin-right: 0.85rem;
    }
  }
}

.special {
  margin: 0;
  font-size: 3rem;

  a {
    @include ease();

    line-height: 5rem;
    text-decoration: underline;
    text-decoration-color: $underline-color;
    text-decoration-thickness: 1px;
    text-underline-offset: 1rem;

    &:hover {
      text-decoration-color: $underline-hover-color;
    }
  }
}
