$underline-dark-color: #3a6a97;
$underline-light-color: #eee;

@mixin transition() {
  -webkit-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.content {
  height: 100%;
  padding: 1.25rem;
  background-color: #012e4e;

  .special {
    margin: 0;
    font-size: 3rem;

    a {
      @include transition();

      color: #eee;
      font-size: 2.75rem;
      font-weight: 800;
      line-height: 5rem;
      text-decoration: underline;
      text-decoration-color: $underline-dark-color;
      text-decoration-thickness: 1px;
      text-underline-offset: 1rem;

      &:hover,
      &.active {
        cursor: pointer;
        text-decoration-color: $underline-light-color;
      }
    }
  }

  .info {
    margin: 2rem 0;

    .icon {
      width: 1.25rem;
    }

    p {
      margin: 0;
      padding: 0.3rem 0;
      color: #ffffffbf;
      font-size: 14px;
    }
  }

  .nav-item {
    margin-bottom: 0.25rem;

    &:hover {
      cursor: pointer;
    }

    .nav-link {
      position: relative;
      margin: 0;
      font-size: 1rem;
      line-height: 2.25rem;
      color: #eee;

      &:hover,
      &.active {
        .border-slider {
          background-color: $underline-dark-color;
          width: 100%;
        }
      }

      .border-slider {
        @include transition();

        position: absolute;
        display: block;
        left: 0;
        top: 90%;
        margin: 0 auto;
        height: 1px;
        background-color: $underline-dark-color;
        width: 0%;
      }
    }
  }

  .social-links {
    margin: 2rem 0;

    .link {
      margin-right: 0.85rem;

      i {
        color: #eee;
        font-size: 2.5rem;
      }
    }
  }
}
