<div class="content" fxLayout="column" fxLayoutAlign="end left">
    <h1 class="special">
        <a [routerLink]="['']">Robert Schaedler III</a>
    </h1>
    <p class="subheader">Software Engineer @ Microsoft</p>
    <div class="nav-container">
        <div [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            *ngFor="let routeItem of routeItems" class="{{routeItem.class}} nav-item">
            <a [routerLink]="[routeItem.path]">
                <h6 class="nav-link">
                    <span>{{routeItem.title}}</span>
                    <span class="border-slider"></span>
                </h6>
            </a>
        </div>
    </div>
    <div class="social-links" fxLayout="row" fxLayoutAlign="start center">
        <div class="link" *ngFor="let link of socialLinks">
            <app-social-link [link]="link.link" [icon]="link.icon"></app-social-link>
        </div>
    </div>
</div>