$sidebar-width: 20rem;
$main-panel-width: calc(100% - 20rem);

.sidebar {
  width: $sidebar-width;
}

.main-panel {
  width: $main-panel-width;
  padding-top: 2rem;

  @media only screen and (max-width: 960px) {
    width: 100%;
  }
}

.resume-button {
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 1px;
  overflow: hidden;
  z-index: 100;
}
