<div class="wrapper">
    <div class="sidebar" fxHide.sm fxHide.lt-sm>
        <app-sidebar></app-sidebar>
    </div>
    <perfect-scrollbar (psScrollY)="onScroll($event)" class="main-panel">
        <app-header></app-header>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </perfect-scrollbar>
</div>
<div class="resume-button">
    <a class="button special-button" href="https://drive.google.com/file/d/1gPX_28rEpFXoHsIUR83QADNJUTk5HcRD/view" target="_blank">
        <span><i class="far fa-file fa-fw"></i> Resume</span>
    </a>
</div>