<mat-drawer-container>
    <mat-drawer #drawer position="end">
        <div class="side-navigation-scroll-pane">
            <div class="side-navigation-inner">
                <div class="side-navigation-header">
                    <div class="navigation-hide side-nav-hide">
                        <span>
                            <mat-icon (click)="drawer.toggle()">close</mat-icon>
                        </span>
                    </div>
                </div>
                <nav class="side-navigation nav-block">
                    <ul>
                        <li>
                            <a href="https://drive.google.com/file/d/1gPX_28rEpFXoHsIUR83QADNJUTk5HcRD/view?usp=sharing"
                                class="scroll-link">Resume</a>
                        </li>
                        <li>
                            <a href="https://github.com/robertschaedler3/Course-Work" data-offset="-60"
                                class="scroll-link">Course Work</a>
                        </li>
                        <li>
                            <a href="#experience" data-offset="-60" class="scroll-link">Experience</a>
                        </li>
                        <li>
                            <a href="https://github.com/robertschaedler3" class="scroll-link">Github</a>
                        </li>
                    </ul>
                </nav>

                <div class="side-navigation-footer" style="margin-top: auto;">
                    <ul class="social-list list-horizontal">
                        <!-- <li><a href="https://github.com/robertschaedler3"><span
                                    class="icon-github-with-circle medium"></span></a></li>
                        <li><a href="https://linkedin.com/in/robert-schaedler-iii/"><span
                                    class="icon-linkedin-with-circle medium"></span></a></li>
                        <li><a href="https://www.instagram.com/robertschaedleriii/"><span
                                    class="icon-instagram-with-circle medium"></span></a></li>
                        <li><a href="mailto:rschaedl@stevens.edu"><span class="icon-mail-with-circle medium"></span></a>
                        </li> -->
                        <!-- <li>
                            <a mat-icon-button href="https://github.com/robertschaedler3" aria-label="github">
                                Github </a>
                        </li> -->
                    </ul>
                    <p class="copyright no-margin-bottom">&copy; 2018 Robert Schaedler III.</p>
                </div>
            </div>
        </div>
    </mat-drawer>


    <mat-drawer-content>
        <div class="wrapper reveal-side-navigation">
            <div class="wrapper-inner">

                <!-- Header -->
                <header class="header header-fixed header-fixed-on-mobile bkg-charcoal">
                    <div class="header-inner">
                        <div class="row nav-bar">
                            <div class="column width-12 nav-bar-inner">
                                <div class="logo">
                                    <div class="logo-inner">
                                        <a href="index.html"><img src="./assets/img/logo.png"
                                                alt="R. Schaedler III" /></a>
                                        <!-- <a href="index.html"><img src="./assets/img/logo.png"
                                                alt="R. Schaedler III" /></a> -->
                                    </div>
                                </div>
                                <nav class="navigation nav-block secondary-navigation nav-right">
                                    <ul>
                                        <li class="aux-navigation hide">
                                            <div class="v-align-middle">
                                                <a class="button medium bkg-theme bkg-hover-theme color-white color-hover-white"
                                                    href="https://drive.google.com/file/d/1gPX_28rEpFXoHsIUR83QADNJUTk5HcRD/view?usp=sharing"
                                                    target="_blank" download>
                                                    <!-- <mat-icon class="md-18">cloud_download</mat-icon> -->
                                                    <span> Resume</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="aux-navigation hide">
                                            <span class="navigation-show side-nav-show nav-icon">
                                                <mat-icon (click)="drawer.toggle()">menu</mat-icon>
                                            </span>
                                        </li>
                                    </ul>
                                </nav>
                                <nav class="navigation nav-block primary-navigation nav-right no-margin-right">
                                    <ul>
                                        <li>
                                            <a href="#about" data-offset="-0" class="scroll-link">About</a>
                                        </li>
                                        <li>
                                            <a href="#skills" data-offset="-60" class="scroll-link">Skills</a>
                                        </li>
                                        <li>
                                            <a href="#experience" data-offset="-60" class="scroll-link">Experience</a>
                                        </li>
                                        <li>
                                            <a href="#git" data-offset="-60" class="scroll-link">Github</a>
                                        </li>
                                        <li>
                                            <div class="v-align-middle color-grey-ultralight">
                                                <a href="https://drive.google.com/file/d/1gPX_28rEpFXoHsIUR83QADNJUTk5HcRD/view?usp=sharing"
                                                    target="_blank" class="button small pull-right no-margin-bottom no-page-fade 
                                                    color-white color-hover-white" download>

                                                    <span><span class="hide-on-mobile">
                                                            <!-- <mat-icon class="md-18">cloud_download</mat-icon>  -->
                                                            Download
                                                        </span> My Resume</span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Header End -->

                <!-- Content -->
                <div class="content clearfix">

                    <section class="section-block feature-3 bkg-charcoal">
                        <div class="feature-content">
                            <div class="feature-content-inner left pt-80 pb-30">
                                <div class="row">
                                    <div class="column width-4 center-on-mobile">
                                        <div class="thumbnail mb-20">
                                            <a href="https://www.instagram.com/robertschaedleriii/"><img
                                                    class="profile-image large rounded " src="assets/img/portrait.jpg"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                    <div class="column width-8 center-on-mobile">
                                        <h1 class="color-white weight-light mb-0"
                                            data-animate-in="preset:fadeIn;duration:1000ms;delay:100ms;" data-no-scale>
                                            Robert Schaedler <span class="hide-on-mobile">III</span>
                                        </h1>
                                        <div class="tms-caption" style="width:100%;"
                                            data-animate-in="preset:scaleOut;duration:1000ms;" data-no-scale>
                                            <hr class="opacity-05">
                                        </div>
                                        <h3 class="color-grey-light weight-light mb-20 mb-mobile-20"
                                            data-animate-in="preset:slideInDownShort;duration:1000ms;delay:1000ms;"
                                            data-no-scale>
                                            Software Engineering Student: Stevens Institute of Technology
                                        </h3>
                                        <p class="mb-20">
                                            <a class="color-hover-grey color-white" href="mailto:rschaedl@stevens.edu">
                                                <mat-icon class="md-18">email</mat-icon> rschaedl@stevens.edu
                                            </a>
                                            <br>
                                            <a class="color-hover-grey color-white" href="tel:+1-862-201-1429">
                                                <mat-icon class="md-18">local_phone</mat-icon> +1-862-201-1429
                                            </a>
                                            <br>
                                        </p>
                                        <!-- <mat-divider></mat-divider> -->
                                        <app-git-stats></app-git-stats>
                                        <div class="hide-on-mobile">
                                            <mat-chip-list aria="social list">
                                                <mat-chip *ngFor="let item of socialList">
                                                    <a class="color-hover-charcoal"
                                                        href="{{item.url}}">{{item.name}}</a>
                                                </mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- About Section -->
                    <section id="about" class="section-block">

                        <div class="row">
                            <div class="column width-4">
                                <h4 class="mb-60 text-uppercase"><span class="color-grey-light">
                                        <mat-icon>portrait</mat-icon>
                                    </span> Background.</h4>
                            </div>
                            <div class="column width-8">
                                <p>I'm Robert, a student at <strong>Stevens Institute of Technology</strong>, pursuing a
                                    degree in <strong>Software Engineering</strong> with a minor in <strong>Computer
                                        Science</strong>. I have a wide variety of experience using several programming
                                    languages in professional, academic, and personal projects and I am highly motivated
                                    to
                                    learn more. </p>
                                <p>For more information, check out my <a class="color-theme"
                                        href="https://github.com/robertschaedler3">GitHub</a> to see what I'm working on
                                    or
                                    head over to my <a class="color-theme scroll-link" href="#projects">projects
                                        page</a>
                                    where I discuss each project in more detail. </p>
                                <app-coursework></app-coursework>

                            </div>
                        </div>

                        <hr>

                        <div id="skills" class="row">
                            <div class="column width-4">
                                <h4 class="mb-60 text-uppercase"><span class="color-grey-light">
                                        <mat-icon>code</mat-icon>
                                    </span> Skills.</h4>
                            </div>
                            <div class="column width-8">
                                <mat-accordion class="align-headers">
                                    <mat-expansion-panel *ngFor="let panel of panels">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <span class="progress-bar-label text-uppercase"><span
                                                        class="weight-bold">{{panel.title}}</span></span>
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                <span class="progress-bar-label text-uppercase"><span
                                                        class="pull-right">{{panel.level}}</span></span>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>

                                        <mat-chip-list aria-label="Fish selection">
                                            <div *ngFor="let chip of panel.chips">
                                                <mat-chip>{{chip.name}}</mat-chip>
                                            </div>
                                        </mat-chip-list>
                                        <div class="panel-description">
                                            {{panel.description}}
                                        </div>

                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </section>
                    <!-- About Section End -->

                    <!-- Timeline Section -->
                    <section id="experience"
                        class="section-block hero-5 hero-5-1 clear-height show-media-column-on-mobile bkg-charcoal">
                        <div class="media-column darken-overlay width-6">
                            <div></div>
                        </div>
                        <div class="row">
                            <div class="column width-4">
                                <div class="hero-content split-hero-content">
                                    <div class="hero-content-inner left">
                                        <h4 class="mb-80 text-uppercase color-white"><span class="color-grey-light">
                                                <mat-icon>work_outline</mat-icon>
                                            </span> Work Experience.</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="column width-8">
                                <div class="hero-content split-hero-content">
                                    <div class="hero-content-inner left">
                                        <div class="row">
                                            <div class="timeline-title column width-3 left color-white">
                                                <div>
                                                    <h5 class="no-margin-bottom">Stevens Cysec Research</h5>
                                                    <p>Summer 2019</p>
                                                </div>
                                            </div>
                                            <div class="timeline-description column width-8 offset-1">
                                                <div>
                                                    <h5 class="mb-10 color-white">Full Stack Engineer/Security Analyst
                                                    </h5>
                                                    <p class="mb-70 color-grey-light">Researched the security of IoT
                                                        networks by
                                                        recording and analyzing WiFi, Bluetooth, and Zigbee protocols to
                                                        identify trends and anomalies in device activity. Created a
                                                        front-end
                                                        interface using Angular to facilitate uploads and downloads to a
                                                        database (using Parse Server, Mongo, Express). <br>Researched
                                                        trends
                                                        in
                                                        phishing site attacks by comparing the structure, raw HTML, and
                                                        other
                                                        heuristics to gather data
                                                        with the intent to create and implement an efficient means of
                                                        phishing
                                                        detection.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="timeline-title column width-3 left color-white">
                                                <div>
                                                    <h5 class="no-margin-bottom">TrendEase</h5>
                                                    <p>February 2019 - Present</p>
                                                </div>
                                            </div>
                                            <div class="timeline-description column width-8 offset-1">
                                                <div>
                                                    <h5 class="mb-10 color-white">Data Analytics & Security Start-Up
                                                    </h5>
                                                    <p class="mb-70 color-grey-light">Designed and created scaleable
                                                        data aquisition systems for improving location based recommender
                                                        systems
                                                        using 802.11 network traffic. Used the raw network data to
                                                        profile
                                                        certain activity while clustering devices based on trends and
                                                        similarities.
                                                        Implemented a fully functional interface to display and interact
                                                        with
                                                        findings on a map based system.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="timeline-title column width-3 left color-white">
                                                <div>
                                                    <h5 class="no-margin-bottom">Web Design</h5>
                                                    <p>May 2017–Present</p>
                                                </div>
                                            </div>
                                            <div class="timeline-description column width-8 offset-1">
                                                <div>
                                                    <h5 class="mb-10 color-white">Freelance Web Developer</h5>
                                                    <p class="mb-70 color-grey-light">Work to maintain and optimize
                                                        existing and new website using Firebase and Angular. Implemented
                                                        analytics to increase site traffic.
                                                        Added site payment systems for online purchases. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="timeline-description column width-8 offset-4">
                                                <a href="https://www.linkedin.com/in/robert-schaedler-iii/"
                                                    class="button medium bkg-theme bkg-hover-theme color-white color-hover-white">
                                                    Connect on LinkedIn
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Timeline End -->

                    <app-github id="git"></app-github>

                </div>
                <!-- Content End -->


                <!-- Footer -->
                <footer class="footer">
                    <div class="footer-top two-columns-on-tablet">
                        <div class="row flex">
                            <div class="column width-6">
                                <div class="widget">
                                    <h4 class="widget-title">Robert Schaedler III</h4>
                                    <p class="no-margin-bottom">

                                        <a class="color-hover-grey color-white" href="mailto:rschaedl@stevens.edu">
                                            <mat-icon class="md-18">email</mat-icon> rschaedl@stevens.edu
                                        </a>
                                        <br>

                                        <a class="color-hover-grey color-white" href="tel:+1-862-201-1429">
                                            <mat-icon class="md-18">local_phone</mat-icon> +1-862-201-1429
                                        </a>

                                        <div class="pb-10 pt-10 color-charcoal">
                                            <mat-chip-list aria="social list">
                                                <mat-chip *ngFor="let item of socialList">
                                                    <a class="color-hover-charcoal"
                                                        href="{{item.url}}">{{item.name}}</a>
                                                </mat-chip>
                                            </mat-chip-list>
                                        </div>

                                        <p class="copyright">
                                            &copy; Schaedler III. All Rights Reserved.
                                        </p>
                                </div>
                            </div>
                            <div class="column width-3">

                            </div>
                            <div class="column width-3">
                                <div class="widget">
                                    <h4 class="widget-title">Current Projects</h4>
                                    <ul class="list-group large">
                                        <li>
                                            <span class="post-info"><span class="post-date"> Sept
                                                    2019-Present</span></span>
                                            <a href="#">ML Stock Trading</a>
                                        </li>
                                        <li>
                                            <span class="post-info"><span class="post-date"> Mar 2019-Present
                                                    2019</span></span>
                                            <a href="#">Digital Cloak</a>
                                        </li>
                                        <li>
                                            <span class="post-info"><span class="post-date"> Feb 2019-Present
                                                    2019</span></span>
                                            <a href="#">MAC Tracker</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- Footer End -->
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>