
.pt-10{
    padding-top:2rem;
}

.pb-10{
    padding-bottom:2rem;
}

.panel-description{
    padding-top:2rem;
}

.align-headers .mat-expansion-panel-header-title,
.align-headers .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.align-headers .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}