<!-- TODO: Move header and profile contents back to layout -->
<app-header></app-header>
<app-profile></app-profile>

<app-resume-section [title]="'Background'" [icon]="'portrait'" [paddBottom]="false" class="bkg-white">
    <p>I'm Robert, a student at <span class="bold">Stevens Institute of Technology</span>, pursuing a
        degree in <span class="bold">Software Engineering</span> with a minor in <span class="bold">Computer
            Science</span>. I have full-stack experience in cloud security and IoT personally, academically and
        professionally. Check out some of my projects
        to see what I'm working on.
    </p>
    <button mat-flat-button class="bkg-theme bkg-hover-light-theme" [routerLink]="['projects']">Check out my
        projects</button>
</app-resume-section>

<div class="divider bkg-white">
    <mat-divider></mat-divider>
</div>

<app-resume-section [title]="'Skills'" [icon]="'code'" [paddTop]="false">
    <mat-accordion class="align-headers">
        <mat-expansion-panel *ngFor="let skill of skills">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="bold uppercase"><span class="">{{skill.title}}</span></span>
                </mat-panel-title>
                <mat-panel-description>
                    <span class="uppercase">{{skill.level}}</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-chip-list [chips]="skill.chips"></app-chip-list>
            <div class="panel-description">
                {{skill.description}}
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</app-resume-section>

<div class="section timeline">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title">
                    <mat-icon inline="true">work_outline</mat-icon> Work Experience
                </h5>
            </div>
            <div class="col-md-8">
                <div class="row work-experience" *ngFor="let experience of experiences">
                    <div class="col-md-3">
                        <h5>{{experience.name}}</h5>
                        <p class="time">{{experience.time}}</p>
                    </div>
                    <div class="col-md-8 offset-md-1">
                        <h5>{{experience.position}}</h5>
                        <p class="description">{{experience.description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-4">
                        <button mat-stroked-button class="special-button color-white color-hover-light-grey"
                            (click)="redirect.open('https://www.linkedin.com/in/robert-schaedler-iii/')">
                            Connect on LinkedIn
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-resume-section [title]="'Looking for more?'" [icon]="'help_outline'">
    <p>
        Head over to my Github where you can see some of the things I am working on and check out my personal, academic,
        and professional repos.
    </p>
    <button mat-flat-button class="bkg-theme bkg-hover-light-theme"
        (click)="redirect.open('https://github.com/robertschaedler3')">
        Check me out on Github
    </button>
</app-resume-section>

<app-section [paddTop]="false" [paddBottom]="false">
    <div class="row footer-content">
        <div class="col-md-6">
            <h4>Contact Info</h4>
            <p class="contact-info">
                <a class="color-hover-light-grey" href="mailto:rschaedl@stevens.edu">
                    <mat-icon inline>email</mat-icon> rschaedl@stevens.edu
                </a>
                <br>
                <a class="color-hover-light-grey" href="tel:+1-862-201-1429">
                    <mat-icon inline>local_phone</mat-icon> +1-862-201-1429
                </a>
            </p>
            <app-chip-list [chips]="chips"></app-chip-list>
            <p class="copyright">
                &copy; Schaedler III. All Rights Reserved.
            </p>
        </div>
        <div class="col-md-3 offset-md-3">
            <!-- TODO: populate with git projects -->
        </div>
    </div>
</app-section>