mat-expansion-panel span {
    font-size: 0.75rem;
}

button {
    padding: 0.225rem 1.413rem !important;
}

p {
    margin-bottom: 1.875rem;
}

.anchor-container {
    display: flex;
    align-items: space-around;

    button {
        text-transform: uppercase !important;
        font-size: 11px;
        padding: 0 !important;
    }
}

.profile-content {
    h1 {
        font-weight: 300 !important;
        margin-bottom: 0;
    }

    .caption {
        font-size: 1.15rem;
        font-weight: 100 !important;
        letter-spacing: 0;
    }

    .contact-info {
        margin-bottom: 1rem;
    }
}

.panel-description {
    padding-top: 2rem;
}

.divider {
    padding: 3rem;
}

.align-headers .mat-expansion-panel-header-title,
.align-headers .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.align-headers .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.timeline {
    position: relative;

    .overlay {
        height: 100%;
        width: 50vw;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../../assets/img/bkg-1.jpg) center center no-repeat;
        background-size: cover;
        filter: brightness(65%);

        @media only screen and (max-width: 769px) {
            height: 25rem;
            width: 100%;
            position: relative;
        }
    }

    .container {
        padding: 8rem 2rem;
    }

    .timeline-action {
        font-size: 14px !important;
    }
}

.work-experience {
    .time {
        font-weight: 200;
    }

    .description {
        margin-bottom: 4.375rem;
        color: #999;
    }

    .section-image {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.footer-content {
    margin-top: 2rem;

    .contact-info {
        margin-bottom: 1rem;
    }

    .copyright {
        margin-top: 1rem;
    }

    .footer-inner,
    .contact-info,
    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
