<app-header></app-header>
<app-profile></app-profile>

<app-resume-section [title]="'Background'" [icon]="'portrait'" [paddBottom]="false">
    <p>I'm Robert, a student at <strong>Stevens Institute of Technology</strong>, pursuing a
        degree in <strong>Software Engineering</strong> with a minor in <strong>Computer Science</strong>. I have a wide
        variety of experience using several programming languages in professional, academic, and personal projects and I
        am highly motivated to learn more.
    </p>
    <p>For more information, check out my
        <a class="color-theme" href="https://github.com/robertschaedler3">GitHub</a>
        to see what I'm working on or head over to my
        <a class="color-theme" href="#projects">projects page</a> where I discuss each project in more
        detail.
    </p>
    <button mat-flat-button (click)="showCoursework()">Check out my coursework</button>
</app-resume-section>

<div class="divider bkg-white">
    <mat-divider></mat-divider>
</div>

<app-resume-section [title]="'Skills'" [icon]="'code'" [paddTop]="false">
    <mat-accordion class="align-headers">
        <mat-expansion-panel *ngFor="let skill of skills">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="progress-bar-label text-uppercase"><span
                            class="weight-bold">{{skill.title}}</span></span>
                </mat-panel-title>
                <mat-panel-description>
                    <span class="progress-bar-label text-uppercase"><span
                            class="pull-right">{{skill.level}}</span></span>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <app-chip-list [chips]="skill.chips"></app-chip-list>

            <div class="panel-description">
                {{skill.description}}
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</app-resume-section>